body {
    font-family: font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    box-sizing:border-box;
    flex-wrap: wrap;
} 
html {
    --primary-color1: #fafafa;
     --primary-color2:#0c4a6e;
     --primary-color3:#075985;
     --primary-color4:#0369a1;
     --primary-color5:#0284c7;
     --primary-color6:#0ea5e9;
     --primary-color7:#38bdf8;
     --primary-color8:#7dd3fc;
     --primary-color9:#bae6fd;
     --primary-color10:#e0f2fe;
     --primary-color11:#f0f9ff;
     --primary-color12:#f5f5f5;
     --primary-color13:#525252;
     --primary-color14:#737373;
     --primary-color15:#a3a3a3;
     --primary-color16:#d4d4d4;
    }

    
    .background-nav {
        width: 100%;
        background-color: var(--primary-color4);
        position: fixed;
    }
    .mobile-icons {
        display: none;
    }
    .icon-mobile {
        color: white;
        margin-right: 20px;
    }
    .icon-close {
        color:white;
        font-size: 20px;
        margin-right: 20px;
        display: none;
    }
        
    .container-menu {
        background-color: var(--primary-color4);
        width: 100%;
        display: none;
        border-top:1px; 
        border-style: solid;
        border-color: white;
    }
    .navig {
        display: flex;
        flex-direction: column;
        color:white;
        font-size: 16px;
        padding-bottom: 10px;
        margin-left: 10px;
        cursor: pointer;
        text-decoration: none; 
    }
    .hat {
        max-width: 1024px;
        margin: 0 auto;
    }
    .firstmenu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .logo {
        color: white;
        font-size: 18px;
        font-weight: 600;
    }
    .nav {
        display: flex;
        flex-direction: row;
        color: white;
        font-size: 14px;
        gap: 20px;
        cursor: pointer;
        text-decoration: none;
    }
    .background {
        background-image: url("images/hero.png");
        background-size: cover;
        background-position: top center;
        width: 100%;
    }
    .header {
        max-width: 1024px; 
        margin: 0 auto; 
    }
    .color-mix {
        max-width: 600px; 
        padding-top: 80px;
        width: 40%;
    }
    .title-header {
       font-weight: 600;
       font-size: 40px;
       padding-top: 100px; 
    } 
    
.dento {
    color: var(--primary-color4);
    font-weight: 600;
    font-size: 40px;
}
.header-text {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color2);
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1024px;
}
.text {
    width: 350px;
}
.header-button {
    border: 1px solid var(--primary-color6);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(167, 166, 165);
    background: var(--primary-color6);
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 50px;
    cursor: pointer;
    margin-bottom: 20px;
}   
.header-button:hover {
    background: var(--primary-color2);
    border: 1px solid var(--primary-color2);
}
.button-box {
   margin: 0 auto;
   padding-top: 20px;
   max-width: 1024px;
}
.service {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.service-title {
    max-width: 1024px;
    color: var(--primary-color4);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px; 
    margin: 0 auto;
}
.background-main {
    background-color: var(--primary-color5);
    width: 100%;
}
.box-window {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
}
.icon {
    color: white;
    padding-top: 100px;
}
.service3 {
    background-image: url(images/service-3.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;  
    box-shadow: 0px 4px 4px var(--primary-color2);
}
.service2 {
    background-image: url(images/service-2.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px var(--primary-color2);
}
.service1 {
    background-image: url(images/service-1.png);
    background-size: cover;
    background-position: center;
    width: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px var(--primary-color2);
}
.box-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #7dd7fd65;
}
.service-text {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    width: 70%;
    padding: 10px 0px 20px 10px;
    gap: 70px;
}
.padding {
    padding-right: 30px;
}
.pointer {
    color: white;
    font-size: 60px;
    padding-top: 70px;
}
.background-clinic {
    background-image: url(images/background-1.png);
    background-size: cover;
    background-position: top center;
    width: 100%;
}
.clinic-title {
    max-width: 1024px;
    color: var(--primary-color3);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px; 
    margin: 0 auto;  
}
.clinic-text {
    font-size: 16px;
    text-align: start;
    margin: 0 auto;
}
.clinic-paragraf {
    padding-bottom: 10px;
    max-width: 1024px;
    margin: 0 auto;
}
.clinic-button {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    padding-top: 20px;
    padding-bottom: 20px;
}
.reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    flex-wrap: wrap;
    
}
.reviews-box {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary-color16);
    border-radius: 10px;  
    box-shadow: 2px 3px 3px var(--primary-color16);
    margin-bottom: 30px;
    width: 49%;
}
.reviews-foto {
    padding: 10px 10px 10px 10px;
    object-position: center;
}
.foto-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reviews-name {
    color: var(--primary-color4);
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
}
.reviews-text {
    color: var(--primary-color14);
    font-size: 16px;
    line-height: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.background-addres {
    background-image:url(images/map-background.png);
    background-size: cover;
    background-position: top center;
    width: 100%;  
}
.background-color {
 background-color:#d1eaf586;   
}
.addres-box {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 30px;
}
.addres {
    border-radius: 10px;
    border: 1px solid var(--primary-color4);
    background-color: white;
    width: 250px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.addres1 {
    display: flex;
    flex-direction: row;
}
.image-addres {
    width: 20px;
    height: 20px;
    padding: 20px 5px 0 10px;
}
.addres-row {
    display: flex;
    flex-direction: column;
}
.addres-text {
    font-size: 16px;
    color: var(--primary-color4);
    padding-top: 20px;
}
.addres-text2 {
    font-size: 16px;
    color: var(--primary-color4);
} 
.addres-title {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color4);
}
.addres-title2 {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color4);
    padding: 40px 0 10px 20px;
}
.footer {
    background-color: var(--primary-color10);
}
.footer-box {
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 40px;
   
}
.footer-fb {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.footer-text {
    font-size: 16px;
    color: var(--primary-color4);
    width: 35%;
}
.footer-link {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.fb-link {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color4);
    text-decoration: none;
}
.icon-link {
    padding-left: 5px;
    width: 15px;
    height: 15px;
}
.icon-addres {
    width: 15px;
    height: 15px; 
    padding-right: 5px;
    padding-top: 5px;
}
.footer-addres {
    font-size: 16px;
    color: var(--primary-color4); 
    line-height: 20px;
    padding-top: 60px;
}
.footer-addres-text {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color4); 
}
.footer-conf {
    font-size: 16px;
    color: var(--primary-color4); 
    display: flex; 
    flex-direction: row;
    justify-content: end;
    padding-top: 50px;
    padding-bottom: 30px;
}
@media (max-width:1024px) {
.hat {
    margin-left: 10px;
    margin-right: 10px; 
}
.header {
    margin-left: 10px;
    margin-right: 10px;
}
.header-text {
    margin-left: 10px;
    margin-right: 10px;
}
.button-box {
    margin-left: 10px;
    margin-right: 10px;
}
.footer-box {
    margin-left: 10px; 
    margin-right: 10px;
}
}

@media (max-width:768px) {
    .color-mix {
        width: 70%;
    }
    .mobile-icons {
        display: flex;
        justify-content: space-between;
    }
    .container-menu {
        display: 
    }
    .hat {
        width: 100%;
        justify-content: space-evenly;
    }
    .nav {
        display: none;
    }
    .service-title {
        padding-top: 40px;
    }
    .background-main {
        height: 200px;
        overflow: scroll;
    }
    .box-window {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pointer {
        display: none;
    }
    .clinic-text {
        margin-left: 10px;
        margin-right: 10px;
    }
    .clinic-button {
        margin-right: 10px;
    }
    .reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reviews-text {
        font-size: 12px;
    }
    .reviews-name {
        font-size: 18px;
    }
    .addres-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .background-addres {
        height: 200px;
        overflow: scroll;
     }
     .footer-fb {
        display: flex;
        flex-direction: column;
     }
    }
@media (max-width: 600px) {
.header {
    width: 100%;
    margin-left: 10px;
}
.header-text {
    flex-wrap: wrap;
    width: 100%;
}
.nav {
    gap: 10px;
}
.reviews-foto {
    width: 50px;
}
}